* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.btn {
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px 20px;
}

.btn_empty {
  border: 1px solid white;
}
.btn_green {
  background-color: #7cbc27;
}
/* utility rules  */

.container {
  width: 80%;
  margin: auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.bg_blue {
  background-color: #0c325a;
}

.bg_green {
  background-color: #7cbc27;
}

.bg_grey {
  background-color: #d3d3d3;
}
.grey_text {
  color: #808080;
}

/******************
 Header-CSS 
 *****************/
header {
  height: 550px;
  background-image: url("../img/background-header.png");
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 110% 110%;
}
header a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 12px;
}
header nav {
  height: 60px;
  line-height: 60px;
}

.logo,
.left_menu,
.right_menu {
  float: left;
}

.logo {
  width: 15%;
  margin-top: 5px;
}

.left_menu {
  width: 45%;
}
.right_menu {
  width: 40%;
  text-align: right;
}

.left_menu a {
  padding: 5px 15px;
}

.header_main {
  margin-top: 15%;
  width: 50%;
}
.header_main h1 {
  color: white;
  text-align: left;
  font-size: 3rem;
  margin-bottom: 20px;
}
.header_main a {
  padding-top: 15px;
  font-size: 15px;
  display: inline-block;
  height: 50px;
}

/******************
 Main-CSS 
 *****************/

/* main section-top */

.main_top {
  height: 130px;
  text-align: center;
}
.main_top h2 {
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 30px;
}
.main_top span {
  font-weight: 600;
  margin-bottom: 30px;
}

/* main-columns */

.column {
  float: left;
  width: calc(100% / 3 - 40px);
  margin: 0 20px;
  margin-top: 50px;
}
.column > img {
  width: 100%;
  height: 140px;
  object-fit: contain;
}
.column .text {
  text-align: center;
}
.column > .text > h2 {
  margin-top: 20px;
  color: #7cbc27;
}
.column .text h2::after {
  content: "";
  background-color: #808080;
  width: 61px;
  height: 1px;
  display: block;
  margin: 20px 145px;
}
.column p {
  margin-top: 15px;
  font-weight: 600;
}

hr {
  margin: 50px 10px;
  color: #d3d3d3;
}

/* sezione a 2 colonne  */

.left_side,
.right_side {
  float: left;
  width: calc(100% / 2 - 40px);
  margin: 0 20px;
}
.left_side img {
  width: 100%;
  height: 400px;
}
.right_side h2 {
  font-weight: 600;
  font-size: 2.5rem;
}
.right_side p,
.right_side h2 {
  font-weight: 600;
  margin-bottom: 15px;
}
.right_side p {
  line-height: 1.5rem;
}
.right_side a {
  font-size: 15px;
}
/******************
 Footer-CSS 
 *****************/ ;
